<%= form_for(@notification) do |f| %>
  

  <div class="actions">
    <div class="field">
      <%= f.label "Name" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Telephone" %><br>
      <%= f.text_field :tele %>
    </div>
    
    <%= f.submit 'submit' %>
  </div>
<% end %>
