<p id="notice"><%= notice %></p>

<div class="jumbotron"><h1>Listing Notifications</h1></div>

<% @notifications.each do |notification| %>
	<%= link_to(notification) do %>
	  <h3> New <%= notification.source %> to <%= notification.destination %> Trip</h3>
	<% end %>
<% end %>

<br>
<%= link_to 'Go to Requests', requests_path %>